        <header class="bg-primary text-white">
                <nav class="site-header sticky-top py-1">
                        <div class="container d-flex flex-column flex-md-row justify-content-between">
                                <a class="navbar-brand text-white" href="index">GoodlyCode</a>
                                <a class="py-2 d-none d-md-inline-block text-white" href="index"><i class="fas fa-home"></i></a>
                                <a class="py-2 d-none d-md-inline-block text-white" href="products">Products</a>
                                <a class="py-2 d-none d-md-inline-block text-white" href="services">Services</a>
                                <a class="py-2 d-none d-md-inline-block text-white" href="about">About</a>
                                <a class="py-2 d-none d-md-inline-block text-white" href="contact">Contact</a>
                                <a class="py-2 d-none d-md-inline-block text-white" href="https://goodlycodeblog.wordpress.com/">Blog</a>
                        </div>
                </nav>
        </header>
